<div class="container" style="margin-bottom: 6vh;">
  <div class="row">
    <div class="col-9 ml-4 mt-3">
      <h3 class=""style="margin-left: 5vh;">
        <span class="px-3 ml-4" style="background-color:#EEEEEE">商品一覧</span>
      </h3>
    </div>
    <div class="col-1 mt-3 font-weight-bold">
      <div class="plus-bottom">
        <%= link_to new_admin_item_path do %>
         <button>+</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table col-10 mx-auto mt-3">
      <thead class="table-dark" >
        <tr>
          <th class="align-middle text-center">商品ID</th>
          <th class="align-middle text-center">商品名</th>
          <th class="align-middle text-center">税抜価格</th>
          <th class="align-middle text-center">ジャンル</th>
          <th class="align-middle text-center">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td class="align-middle"><%= item.id %></td>
            <td class="align-middle"><%= link_to item.name, admin_item_path(item) %></td>
            <td class="align-middle"><%= item.price.to_s(:delimited) %></td>
            <td class="align-middle"><%= item.genre.name %></td>
            <% if item.is_active == true %>
              <td><h5 class="text-success font-weight-bold">販売中</h5></td>
           <% else %>
              <td><h5 class="font-weight-bold" style="color: lightgray">販売停止</h5></td>
           <% end %>
          </tr>
        <% end %>
      </tbody>
    </table><br>
  </div>
  <div class="footer container col-md-6 offset-md-3 py-2">
    <div class="pagination justify-content-center">
      <u><%= paginate @items %></u>
    </div>
  </div>
</div>