<div class="container"></br>
  <h4><span class="px-3" style="background-color:lightgray">管理者ログイン</span></h4></br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <%= f.label "メールアドレス", class:"col-2 col-form-label" %>
      <div class="col-5">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    </div>
      <div class="form-group row">
        <%= f.label "パスワード", class:"col-2 col-form-label" %>
        <div class="col-5">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>

    <div class="offset-2">
      <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>