<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
   <div class="container px-5">
     <!-- navbarの左側 -->
     <div class="row">
         <!-- 仮の画像を配置 -->
         <a class="navbar-brand p-1" href="/"><!--NaganoCake<br>-->
           <img  src="/assets/logo3.png" alt="..." width="130px" height="100px" />
         </a>
      </div>
      <% if customer_signed_in? %>
         <span class="navbar-text offset-1 text-white bg-dark">
           ようこそ、<%= current_customer.last_name %>さん！
         </span>
      <% end%>

     <!-- navbarの右側-->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav ml-auto mb-lg-0 btn-group-lg">
       <% if admin_signed_in? %>
         <li class="nav-item nav-link"><%= link_to "商品一覧", admin_items_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "会員一覧", admin_customers_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "注文履歴一覧", admin_root_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "ジャンル一覧", admin_genres_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"link btn btn-light" %></li>
       <% elsif customer_signed_in? %>
         <li class="nav-item nav-link"><%= link_to "マイページ", my_page_customers_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "商品一覧", items_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "カート", cart_items_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"link btn btn-light" %></li>
       <% else %>
         <li class="nav-item nav-link"><%= link_to "About", about_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "商品一覧", items_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "新規登録", new_customer_registration_path, class:"link btn btn-light" %></li>
         <li class="nav-item nav-link"><%= link_to "ログイン", new_customer_session_path, class:"link btn btn-light" %></li>
       <% end %>
      </ul>
